body {
    max-width: 100%;
    overflow-x: hidden;
    background: #FFF;
    color: #676767;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding-bottom:15px;
}

.service-box-color-preview {
    display: block;
    width: 10px;
    height: 10px;
    line-height: 1;
    border: 1px solid #ccc;
}

.navbar .navbar-btn {
    margin-left:5px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.tbl-list-view {
    width:auto!important;
}
.tbl-list-view td span {
    display:block;
}

.tbl-config td {
    word-break: break-word;
    word-wrap: break-word;
}

.tbl-config td:first-child {
    width:35%;
}


/* Node box */
.box {
  margin-bottom: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.box-main {
  padding: 5px;
  min-height:68px;
}
.box-header,
.box-footer {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
  background-color: #f5f5f5;
}
.box-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.box-title > a,
.box-title > small,
.box-title > .small,
.box-title > small > a,
.box-title > .small > a {
  color: inherit;
}
.box-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

/* component/service box */
.cbox {
    display: table;
    background-color:#69BE28;
    width:50px;
    height:50px;
    margin:4px;
    padding: 1px;
    overflow:hidden;
    float:left;
    color: black;
    word-break: break-word;
}

.cbox span {
    font-weight: bold;
    font-size: 0.75em;
    height: 100%;
    text-align: center;
    line-height:1;
    display: table-cell;
    vertical-align: middle;
}

/*Misc.*/
.legend > span {
    position: absolute;
    top: 30%;
    left: 80px;
}

.box-main:before,
.box-main:after,
.full-container:before,
.full-container:after {
  display: table;
  content: " ";
}

.box-main:after,
.full-container:after {
  clear: both;
}

/*spans complete height and width*/
.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
}

.full-container > .row {
    margin-left: 0;
    margin-right: 0;
}

/*Cluster Build*/
.toolbar {
    min-height:60px;
}
.toolbar .trash {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 18px;
}

.toolbar .trash span {
    font-weight:bold;
}

.toolbar .trash span.glyphicon {
    margin-right: 6px;
}

.build-settings {
    border-right:1px solid #ccc;
    background-color: #f5f5f5;
    padding-bottom: 15px;
}

.buildcluster .cbox {
  cursor: pointer;
}

.dndPlaceholder {
    display:none;
}



