<!DOCTYPE html>
<html ng-app="nodeviewApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Cluster - Node View</title>
    <link rel="stylesheet" href="assets/vendor/css/bootstrap.min.css" type="text/css" />
    <!-- build:css assets/css/style.min.css -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <!-- /build -->
    <link rel="stylesheet" href="assets/vendor/css/xeditable.min.css" type="text/css" />
</head>
<body ng-controller="MainController as main">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Node View</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Cluster</a></li>
            <li><a href="#/build">Build</a></li>
            <li><a href="#/blueprint">Blueprint</a></li>
            <li><a href="#/legend">Legend</a></li>
            <!--<li><a href="#/configuration">Configuration</a></li>-->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/settings/services">Services</a></li>
                <li><a href="#/settings/components">Components</a></li>
                <li><a href="#/settings/importexport">Import/Export</a></li>
              </ul>
            </li>
            <li><a href="#/about">About</a></li>
          </ul>
          <!--
          TODO: add filter
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Filter" ng-model="clusterFilter">
            </div>
          </form>
          -->
          
          <ul class="nav navbar-nav navbar-right" ng-show="$location.path()=='/'">
            <li><p class="navbar-text"><label><input type="checkbox" name="showZones" ng-model="config.showZones" />&nbsp;<strong>show Zones</strong></label></p></li>
            <li><p class="navbar-text"><strong>View:&nbsp;</strong></p></li>
            <li><button class="btn btn-primary navbar-btn" href="#cluster-services-view" data-toggle="tab">Service</button></li>
            <li><button class="btn btn-primary navbar-btn" href="#cluster-services-classic-view" data-toggle="tab">Service (Classic)</button></li>
            <li><button class="btn btn-primary navbar-btn" href="#cluster-comp-view" data-toggle="tab">Component</button></li>
            <li><button class="btn btn-primary navbar-btn" href="#cluster-comp-classic-view" data-toggle="tab">Component (Classic)</button></li>
            <li><button class="btn btn-primary navbar-btn" href="#cluster-list-view" data-toggle="tab">List</button></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="$location.path()=='/' || $location.path()=='/build'">
            <li><p class="navbar-text"><label><input type="checkbox" name="useFullnames" ng-model="config.useFullnames" />&nbsp;<strong>show fullnames</strong></label></p></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- main content -->
    <div class="clearfix"></div>
    <div ng-view></div>
    <div class="clearfix"></div>

    <footer class="footer">
      <div class="container">
        <hr />
        <p>&nbsp;</p>
      </div>
    </footer>

    <!-- bootstrap and jquery -->
    <script src="assets/vendor/libs/jquery.min.js"></script>
    <script src="assets/vendor/libs/bootstrap.min.js"></script>
    <!-- Angular Dependencies -->
    <script src="assets/vendor/libs/angular.min.js"></script>
    <script src="assets/vendor/libs/angular-route.min.js"></script>
    <script src="assets/vendor/libs/angular-drag-and-drop-lists.min.js"></script>
    <script src="assets/vendor/libs/xeditable.min.js"></script>
    <script src="assets/vendor/libs/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/vendor/libs/clipboard.min.js"></script>
    <!-- build:js app/app.min.js -->
    <script src="app/mods/nodeview/cNodeView.js"></script>
    <script src="app/mods/nodeview/fCluster.js"></script>
    <script src="app/mods/nodeview/fComponent.js"></script>
    <script src="app/mods/nodeview/fConfig.js"></script>
    <script src="app/mods/nodeview/fConfigItem.js"></script>
    <script src="app/mods/nodeview/fEnvironment.js"></script>
    <script src="app/mods/nodeview/fNode.js"></script>
    <script src="app/mods/nodeview/fService.js"></script>
    <script src="app/mods/nodeview/sEnvironment.js"></script>
    <script src="app/mods/nodeview/sCluster.js"></script>
    <script src="app/mods/blueprint/cBlueprint.js"></script>
    <script src="app/mods/blueprint/sBlueprint.js"></script>
    <script src="app/mods/build/cBuild.js"></script>
    <script src="app/mods/build/sBuildCluster.js"></script>
    <script src="app/mods/importexport/cImportExport.js"></script>
    <script src="app/app.js"></script>
    <!-- /build -->
</body>
</html>