<div class="container">
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="editCluster()">Edit Cluster</button>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="cluster-comp-view">
            <h1>{{clusterName}} ({{clusterVersion}})</h1>
            <div class="row {{config.showZones ? 'zone' : ''}}" ng-repeat="zone in clusterNodes">
                <div class="col-lg-12" ng-show="config.showZones">
                    <h4>{{zone[0].zone}}</h4>
                </div>
                <div class="col-md-6" ng-repeat="node in zone">
                    <div class="box">
                        <div class="box-main">
                            <div class="cbox" 
                                    ng-repeat="comp in node.comps | orderBy:'service.group_a'"
                                    style="background-color: {{comp.service.baseColor}}; color: {{comp.service.fontColor}}" 
                                    title="{{comp.name}}">
                                <span>{{config.useFullnames ? comp.name : comp.shortname}}</span>
                            </div>
                        </div>
                        <div class="box-footer">
                            <span>{{node.getHostname()}}</span>
                            <span class="cardinality">(#{{node.getCardinality()}})</span>
                            <span class="zone-title" ng-show="node.zone && !config.showZones">- {{node.zone}}</span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div class="tab-pane" id="cluster-comp-classic-view">
            <h1>{{clusterName}} ({{clusterVersion}})</h1>
            <div class="row {{config.showZones ? 'zone' : 'freefloat'}}" ng-repeat="zone in clusterNodes">
                <div class="col-lg-12" ng-show="config.showZones">
                    <h4>{{zone[0].zone}}</h4>
                </div>
                <div class="{{config.showZones ? 'col-xs-4' : 'node-ff'}}" ng-repeat="node in zone">
                    <div class="box">
                        <div class="box-header classic">
                            <span>{{node.getHostname()}}</span>
                            <span class="cardinality">(#{{node.getCardinality()}})</span>
                            <span class="zone-title" ng-show="node.zone && !config.showZones">- {{node.zone}}</span>
                        </div>
                        <div class="box-main">
                            <span ng-repeat="comp in node.comps | orderBy:'service.group_a'">
                                {{config.useFullnames ? comp.name : comp.shortname}}{{$last ? '' : ','}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div class="tab-pane active" id="cluster-services-view">
        <!-- service view -->
            <h1>{{clusterName}} ({{clusterVersion}})</h1>
            <div class="row {{config.showZones ? 'zone' : ''}}" ng-repeat="zone in clusterNodes">
                <div class="col-lg-12" ng-show="config.showZones">
                    <h4>{{zone[0].zone}}</h4>
                </div>
                <div class="col-md-6" ng-repeat="node in zone">
                    <div class="box">
                        <div class="box-main">
                            <div class="cbox" 
                                    ng-repeat="service in services = node.getNodeServices()"
                                    style="background-color: {{service.baseColor}}; color: {{service.fontColor}}" 
                                    title="{{service.name}}">
                                <span>{{config.useFullnames ? service.name : service.shortname}}</span>
                            </div>
                        </div>
                        <div class="box-footer">
                            <span>{{node.getHostname()}}</span>
                            <span class="cardinality">(#{{node.getCardinality()}})</span>
                            <span class="zone-title" ng-show="node.zone && !config.showZones">- {{node.zone}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="cluster-services-classic-view">
        <!-- service view -->
            <h1>{{clusterName}} ({{clusterVersion}})</h1>
            <div class="row {{config.showZones ? 'zone' : 'freefloat'}}" ng-repeat="zone in clusterNodes">
                <div class="col-lg-12" ng-show="config.showZones">
                    <h4>{{zone[0].zone}}</h4>
                </div>
                <div class="{{config.showZones ? 'col-xs-4' : 'node-ff'}}" ng-repeat="node in zone">
                    <div class="box">
                        <div class="box-header classic">
                            <span>{{node.getHostname()}}</span>
                            <span class="cardinality">(#{{node.getCardinality()}})</span>
                            <span class="zone-title" ng-show="node.zone && !config.showZones">- {{node.zone}}</span>
                        </div>
                        <div class="box-main">
                            <span ng-repeat="service in services = node.getNodeServices()">
                                {{config.useFullnames ? service.name : service.shortname}}{{$last ? '' : ','}}
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="cluster-list-view">
        <!-- list view -->
            <h1>{{clusterName}} ({{clusterVersion}})</h1>
            <table class="table table-striped tbl-list-view">
                <tbody ng-repeat="zone in clusterNodes">
                    <tr ng-repeat="node in zone">
                        <td>
                            <span ng-repeat="hostname in node.hostnames">
                                {{hostname}}
                            </span>
                            <i>{{node.comps.length}} components</i>
                            <span class="zone-title" ng-show="node.zone">Zone: {{node.zone}}</span>
                        </td>
                        <td><span ng-repeat="comp in node.comps | orderBy:'service.group_a'">{{comp.name}}</span></td>
                        <td><span ng-repeat="service in node.getNodeServices()">{{service.name}}</span></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Node</th>
                        <th>Components</th>
                        <th>Services</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>

    <hr />

    <!-- Add Component to Node -->
    <div class="row" ng-controller="EditNodeController as editNodeCtrl">
        <div class="col-sm-6 col-xs-12">
            <h3>Add Node to Component (-Alpha-)</h3>
            <div class="alert alert-warning" role="alert" ng-show="!isFormValid">
                <strong>Oops!</strong> Component is already available on this node.
            </div>
            <form class="form-horizontal" novalidate>
                <div class="form-group">
                    <label>Node</label>
                    <select ng-model="node" ng-options="node.getHostname() for node in nodes = nodes" class="form-control" required ng-change="formChange()"></select>
                </div>
                <div class="form-group">
                    <label>Component</label>
                    <select ng-model="comp" ng-options="comp.name group by comp.service.name for comp in comps = comps" class="form-control" required  ng-change="formChange()"></select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="addToNode()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>